.inputs-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid #DDDD;
    border-bottom: none;
}
.inputs-container input {
    margin-bottom: 10px;
    height: 50px;
    border: none;
    text-align: center;
    border-bottom: 2px solid #DDDD;
}
.payment-form-button {
    cursor: pointer;
    height: 30px;
    width: 100%;
    margin-top: 10px;
}